<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie do Biblioteki</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
    <header>
        <h1>Biblioteka Miejska</h1>
    </header>

    <div class="container">
        <h1>Logowanie</h1>
        <div class="welcome-message">Witaj w Bibliotece! Aby przeglądać nasze zbiory, zaloguj się lub zarejestruj.</div>
        
        <form action="/login" method="post">
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" id="username" name="username" required/>
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" required/>
            <button type="submit">Zaloguj się</button>
        </form>
        
        <a href="/register">Nie masz konta? Zarejestruj się!</a>
        <a href="/registerLibrarian">Zarejestruj się jako bibliotekarz</a>
        
        <div class="error-message" th:if="${error}">
            <p th:text="${error}"></p>
        </div>
    </div>

    <footer>
        <div class="footer-column">
            <p><strong>Kontakt</strong></p>
            <p>Adres: ul. Książkowa 1, 00-000 Miasto</p>
            <p>Email: kontakt@bibliotekamiejska.pl</p>
            <p>Telefon: 123 456 789</p>
        </div>
        <div class="divider"></div>
        <div class="footer-column">
            <p><strong>Media Społecznościowe</strong></p>
            <p>Śledź nas na: <a href="https://facebook.com" target="_blank">Facebooku</a></p>
            <p><a href="https://twitter.com" target="_blank">Twitterze</a></p>
            <p><a href="https://instagram.com" target="_blank">Instagramie</a></p>
        </div>
    </footer>
</body>
</html>
